<div class="entity-page">

  <div class="page-header">
    <div>
      <h1>Entities Management</h1>
      <p>Configure and manage financial entities for cash flows</p>
    </div>

    <button class="add-btn" (click)="addEntity()">
      + Add Entity
    </button>
  </div>


  <div class="entity-card">

    <!-- Search -->
    <div class="search-box">
      <input
        type="text"
        [(ngModel)]="searchText"
        (input)="searchEntities()"
        placeholder="Search by name, code or country..."
      />

      <span>🔍</span>
    </div>


    <!-- LOADING -->
    <div
      class="loading-container"
      *ngIf="loading"
    >
      <div class="spinner"></div>
      <p>Loading entities...</p>
    </div>


    <!-- ERROR -->
    <div
      class="error-message"
      *ngIf="!loading && errorMessage"
    >
      {{ errorMessage }}

      <button (click)="loadEntities()">
        Retry
      </button>
    </div>


    <!-- DATA -->
    <div
      class="table-container"
      *ngIf="!loading && !errorMessage"
    >

      <table *ngIf="filteredEntities.length > 0">

        <thead>
          <tr>
            <th>Code</th>
            <th>Entity Name</th>
            <th>Country</th>
            <th>Description</th>
            <th>Action</th>
          </tr>
        </thead>

        <tbody>

          <tr
            *ngFor="let entity of filteredEntities"
          >

            <td>
              {{ entity.entityCode }}
            </td>

            <td>
              {{ entity.entityName }}
            </td>

            <td>
              {{ entity.countryName }}
            </td>

            <td>
              {{ entity.description || '-' }}
            </td>

            <td>

              <button
                type="button"
                (click)="editEntity(entity.entityId)"
              >
                Edit
              </button>

              <button
                type="button"
                (click)="deleteEntity(entity.entityId)"
              >
                Delete
              </button>

            </td>

          </tr>

        </tbody>

      </table>


      <!-- NO DATA -->
      <div
        class="no-data"
        *ngIf="filteredEntities.length === 0"
      >
        No entities found.
      </div>

    </div>

  </div>

</div>