**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/node_modules
**/.env
**/*.user
**/*.suo
**/.DS_Store
**/Thumbs.db
**/test-results
**/BenchmarkDotNet.Artifacts
**/.gitignore
**/README.md
**/*.md
FinTrustFDManager.BAL.Tests/
